.products {
  padding-top: 120px;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-column-gap: 70px;
    grid-row-gap: 70px;
    justify-content: center;
    position: relative;
  }
}


.product-menu {
  width: 150px;
  &__info {
    text-align: center;
    
    p {
      font-size: 14px;
    }
  }
  img {
    cursor: pointer;
  }
  .category-name {
    position: absolute;
    color: black;
    top: -45px;
    font-size: $font-lg;
    font-weight: bold;
    text-transform: capitalize;
  }
}