// Base Colors
$primary: #409eff;
$primary-light: #ECF5FF;

$danger: #f56c6c;
$warning: #e6a23c;
$success: #67c23a;
$bg-color: #f5f5f6;

$link-color: #546E7A;

$box-shadow: 1px 5px 16px 0px rgba(0, 0, 0, .01);
$border-radius: 8px;
$border-color: #E8E8E8;

// Base Padding & Margin
$margin: 8px;
$padding: 8px;

$font-xxs: 8px;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 32px;

// component sizes
$sidenav-width: 270px;
$sidenav-collapse-width: 70px;
$header-height: 50px;