.cashier {
  &__header {
    @include flexbox(row, center, space-between);
    .search-box {
      width: 370px;
    }

    img {
      border-radius: 50%;
      width: 40px;
      cursor: pointer;
    }
  }
}


@media screen and (max-width: 425px) {
  .cashier {
    .search-box {
      width: 100%;
    }
  }
}